name: Java CI with Maven
run-name: ${{ github.actor }} is running test cases

on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin' # AdoptOpenJDK's build
        cache: 'maven' # Caches Maven dependencies to speed up workflow

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Test with Maven
      run: mvn -B test --file pom.xml

    - name: Send mail on failure
      if: failure()
      uses: dawidd6/action-send-mail@v3
      with:
        server_address: smtp.gmail.com
        server_port: 465
        username: ${{ secrets.MAIL_USERNAME }}
        password: ${{ secrets.MAIL_PASSWORD }}
        subject: "CI Build Failed: ${{ github.repository }}"
        body: "The build for commit ${{ github.sha }} failed. See details here: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
        to: dongmengzhe@sjtu.edu.cn
        from: GitHub Actions

